{% extends 'base.html.twig' %}

{% block title %}New Ingredient{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new Ingredient</h1>
    <input type="hidden" value="{{ dessert.id }}">
    {{ include('ingredient/_form.html.twig') }}

    <a class="btn btn-default" href="{{ path('ingredient_index', {'id': dessert.id}) }}">back to list</a>
</div>

{% endblock %}
